:root.theme-light {
  --background-color: #FFF1F7;
  --content-background-color: #fff1f8;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --button-focus-color: #353430;
  --button-active-color: #353430;
  --background-image: url(../images/cover-image-light.png);
}

/* Скрываем REC в светлой теме */
:root.theme-light .header__decorated {
  display: none;
}

/* В светлой теме активна кнопка "День" */
:root.theme-light .header__theme-menu-button_type_light {
  border: 1px solid var(--button-active-color) !important;
  pointer-events: none;
}

/* Стили для всех кнопок в светлой теме */
:root.theme-light .header__theme-menu-button {
  color: var(--text-color);
}

:root.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

:root.theme-light .header__theme-menu-button:focus-visible {
  outline: 1px solid var(--button-focus-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7;
    --content-background-color: #fff1f8;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --shadow-color: #FF8DCB;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --button-focus-color: #353430;
    --button-active-color: #353430;
    --background-image: url(../images/cover-image-light.png);
  }
  
  /* Скрываем REC при системной светлой теме */
  .header__decorated {
    display: none;
  }
  
  /* В системной светлой теме активна кнопка "День" */
  .header__theme-menu-button_type_light {
    border: 1px solid var(--button-active-color) !important;
    pointer-events: none;
  }
  
  /* Стили для всех кнопок при системной светлой теме */
  .header__theme-menu-button {
    color: var(--text-color);
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid var(--button-hover-color);
  }
  
  .header__theme-menu-button:focus-visible {
    outline: 1px solid var(--button-focus-color);
  }
}