:root {
  /* Цвета тёмной темы (основная) */
  --background-color: #000028;
  --content-background-color: #010028; /* Для секций в тёмной теме */
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --button-focus-color: #FF0070;
  --button-active-color: #FF0070;
  
  /* Шрифты */
  --main-font: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --line-height: 1.3;
  
  /* Отступы */
  --section-gap: 50px;
  --card-gap: 20px;
  
  /* Фоновые изображения */
  --background-image: url(../images/cover-image-dark.png);
}